<tr class="{CSS_ROW} small">
	<td class="std">
		<input type="checkbox" name="file_id[]" value="{VAL_ID}" />
	</td>
	<td class="std">
		<!-- BEGIN title -->
		<span class="small">{OBJ_TITLE}</span>
		<!-- END title -->
		<!-- BEGIN linked_title -->
		<a href="{OBJ_LINK}">{OBJ_LINKED_TITLE}</a>
		<!-- END linked_title -->
		<!-- BEGIN path -->
		<div class="small">
			{OBJ_PATH}
		</div>
		<!-- END path -->
	</td>
	<td class="std">
		{CDATE}
	</td>
	<td class="std">
		{LAST_UPDATE}
	</td>
	<td class="std">
		{STATUS}
	</td>
	<td class="std">
		{DELETION_DATE}
	</td>
	<td class="std">
		{ACTIONS}
	</td>
</tr>